<h1>Service Order Lookup</h1>
<%= form_tag root_url, method: :get do %>
<p>
  <%= text_field_tag :service_order, params[:service_order] %>
  <%= submit_tag "Lookup", name: nil %>
</p>
<% end %>
<% if @service_order %>
  <dl id ="service_order_info">
    <dt>Service Number:</dt>
    <dd><%= @service_order.service_no %></dd>
    <dt>Item Number:</dt>
    <dd><%= @service_order.item_no %></dd>
    <dt>Serial Number:</dt>
    <dd><%= @service_order.serial_no %></dd>
    <dt>Service Type:</dt>
    <dd><%= @service_order.service_type %>
    <dt>Status:</dt>
    <dd><%= @service_order.so_status %></dd>
    <dt>Company Name:</dt>
    <dd><%= @service_order.name %></dd>
    <dt>Charge Customer:</dt>
    <dd><%= @service_order.charge_cust %></dd>
    <dt>Primary Contact:</dt>
    <dd><%=@service_order.primary_con%></dt>
    <dt>Primary Phone Number:</dt>
    <dd><%=@service_order.primary_phon%></dd>
    <dt>Fax:</dt>
    <dd><%=@service_order.fax_modem%></dd>
    <dt>Customer PO:</dt>
    <dd><%=@service_order.cust_po%></dd>
    <dt>Customer Release:</dt>
    <dd><%=@service_order.cust_release%></dd>
    <dt>Customer Reference</dt>
    <dd><%=@service_order.cust_ref%></dd>
    <dt>Address 1:</dt>
    <dd><%=@service_order.address1%></dd>
    <dt>Address 2:</dt>
    <dd><%=@service_order.address2%></dd>
    <dt>City:</dt>
    <dd><%=@service_order.city%></dd>
    <dt>Street:</dt>
    <dd><%=@service_order.st%></dd>
    <dt>Country:</dt>
    <dd><%=@service_order.country%></dd>
    <dt>Postal Code:</dt>
    <dd><%=@service_order.zip%></dd>
    <dt>Description</dt>
    <dd><%=@service_order.description1%></dd>
    <dt></dt>
    <dd><%=@service_order.description2%></dd>
    <dt>Location</dt>
    <dd><%=@service_order.location1%></dd>
    <dt></dt>
    <dd><%=@service_order.location2%></dd>
    <dt></dt>
    <dd><%=@service_order.location3%></dd>
    <dt></dt>
    <dd><%=@service_order.location4%></dd>
    <dt>Territory Code:</dt>
    <dd><%=@service_order.terr_code%></dd>
    <dt>Entity Code:</dt>
    <dd><%=@service_order.entity_code%></dd>
    <dt>Via Description:</dt>
    <dd><%=@service_order.via_desc%></dd>
    <dt>Department:</dt>
    <dd><%=@service_order.department%></dd>
    <dt>Warehouse Code:</dt>
    <dd><%=@service_order.whs_code%></dd>
    <dt>Contract Number:</dt>
    <dd><%=@service_order.contract_no%></dd>
    <dt>Contract Line:</dt>
    <dd><%=@service_order.contract_lin%></dd>
    <dt>Priority:</dt>
    <dd><%=@service_order.priority%></dd>
    <dt>Entry Date:</dt>
    <dd><%=@service_order.entry_date%></dd>
    <dt>Entry Time:</dt>
    <dd><%=@service_order.entry_time%></dd>
    <dt>Request Date:</dt>
    <dd><%=@service_order.request_date%></dd>
    <dt>Request Time:</dt>
    <dd><%=@service_order.request_time%></dd>
    <dt>Parts:</dt>
    <dd><%=@service_order.parts%></dd>
    <dt>Consumables:</dt>
    <dd><%=@service_order.consumables%></dd>
    <dt>Labour:</dt>
    <dd><%=@service_order.labour%></dd>
    <dt>Travel:</dt>
    <dd><%=@service_order.travel%></dd>
    <dt>Expense:</dt>
    <dd><%=@service_order.expense%></dd>
    <dt>Sales:</dt>
    <dd><%=@service_order.sales%></dd>
    <dt>Pst_amount:</dt>
    <dd><%=@service_order.pst_amount%></dd>
    <dt>Parts_pcnt:</dt>
    <dd><%=@service_order.parts_pcnt%></dd>
    <dt>Consum_pcnt:</dt>
    <dd><%=@service_order.consum_pcnt%></dd>
    <dt>Labour Percent:</dt>
    <dd><%=@service_order.labour_pcnt%></dd>
    <dt>Travel Percent:</dt>
    <dd><%=@service_order.travel_pcnt%></dd>
    <dt>Expense_pcnt:</dt>
    <dd><%=@service_order.expense_pcnt%></dd>
    <dt>d_parts:</dt>
    <dd><%=@service_order.d_parts%></dd>
    <dt>d_consumables</dt>
    <dd><%=@service_order.d_consumables%></dd>
    <dt>d_labour</dt>
    <dd><%=@service_order.d_labour%></dd>
    <dt>d_travel</dt>
    <dd><%=@service_order.d_travel%></dd>
    <dt>d_expense</dt>
    <dd><%=@service_order.d_expense%></dd>
    <dt>d_tot_bill</dt>
    <dd><%=@service_order.d_tot_bill%></dd>
    <dt>d_tot_price</dt>
    <dd><%=@service_order.d_tot_price%></dd>
    <dt>parts_cst</dt>
    <dd><%=@service_order.parts_cst%></dd>
    <dt>consum_cst</dt>
    <dd><%=@service_order.consum_cst%></dd>
    <dt>labour_cst</dt>
    <dd><%=@service_order.labour_cst%></dd>
    <dt>travel_cst</dt>
    <dd><%=@service_order.travel_cst%></dd>
    <dt>expense_cst</dt>
    <dd><%=@service_order.expense_cst%></dd>
    <dt>sales_cst</dt>
    <dd><%=@service_order.sales_cst%></dd>
    <dt>ship_charge</dt>
    <dd><%=@service_order.ship_charge%></dd>
    <dt>price_level</dt>
    <dd><%=@service_order.price_level%></dd>
    <dt>order_disc</dt>
    <dd><%=@service_order.order_disc%></dd>
    <dt>order_no</dt>
    <dd><%=@service_order.order_no%></dd>
    <dt>term_code</dt>
    <dd><%=@service_order.term_code%></dd>
    <dt>slsmn_code</dt>
    <dd><%=@service_order.slsmn_code%></dd>
    <dt>comm_code</dt>
    <dd><%=@service_order.comm_code%></dd>
    <dt>comm_rate</dt>
    <dd><%=@service_order.comm_rate%></dd>
    <dt>tax_code</dt>
    <dd><%=@service_order.tax_code%></dd>
    <dt>pst_exempt</dt>
    <dd><%=@service_order.pst_exempt%></dd>
    <dt>pst_license</dt>
    <dd><%=@service_order.pst_license%></dd>
    <dt>invoice_no</dt>
    <dd><%=@service_order.invoice_no%></dd>
    <dt>invoice_date</dt>
    <dd><%=@service_order.invoice_date%></dd>
    <dt>d_inv_total</dt>
    <dd><%=@service_order.d_inv_total%></dd>
    <dt>user_id</dt>
    <dd><%=@service_order.user_id%></dd>
    <dt>terminal_no</dt>
    <dd><%=@service_order.terminal_no%></dd>
    <dt>dt_last_mode</dt>
    <dd><%=@service_order.dt_last_mode%></dd>
    <dt>tm_last_mode</dt>
    <dd><%=@service_order.tm_last_mode%></dd>
    <dt>usr_last_mode</dt>
    <dd><%=@service_order.usr_last_mode%></dd>
    <dt>second_con</dt>
    <dd><%=@service_order.second_con%></dd>
    <dt>second_phone</dt>
    <dd><%=@service_order.second_phone%></dd>
    <dt>printed</dt>
    <dd><%=@service_order.printed%></dd>
    <dt>county</dt>
    <dd><%=@service_order.county%></dd>
    <dt>alt_ref</dt>
    <dd><%=@service_order.alt_ref%></dd>
    <dt>currency_code</dt>
    <dd><%=@service_order.currency_code%></dd>
    <dt>record_type</dt>
    <dd><%=@service_order.record_type%></dd>
    <dt>delv_team</dt>
    <dd><%=@service_order.delv_team%></dd>
    <dt>sch_date</dt>
    <dd><%=@service_order.sch_date%></dd>
    <dt>release_date</dt>
    <dd><%=@service_order.release_date%></dd>
    <dt>release_time</dt>
    <dd><%=@service_order.release_time%></dd>
    <dt>edeli_date</dt>
    <dd><%=@service_order.edeli_date%></dd>
    <dt>edeli_time_slot</dt>
    <dd><%=@service_order.edeli_time_slot%></dd>
    <dt>sch_time</dt>
    <dd><%=@service_order.sch_time%></dd>
    <dt>fms_status</dt>
    <dd><%=@service_order.fms_status%></dd>
    <dt>printerid</dt>
    <dd><%=@service_order.printerid%></dd>
    <dt>order_source</dt>
    <dd><%=@service_order.order_source%></dd>
    <dt>inv_not_mail</dt>
    <dd><%=@service_order.inv_not_mail%></dd>
    <dt>c_customer_grading</dt>
    <dd><%=@service_order.c_customer_grading%></dd>
    <dt>c_credit_limit</dt>
    <dd><%=@service_order.c_credit_limit%></dd>
    <dt>c_disable_fms</dt>
    <dd><%=@service_order.c_disable_fms%></dd>
    <dt>tech_code</dt>
    <dd><%=@service_order.tech_code%></dd>
    <dt>manager</dt>
    <dd><%=@service_order.manager%></dd>
    <dt>problem_code</dt>
    <dd><%=@service_order.problem_code%></dd>
    <dt>problem_code_2</dt>
    <dd><%=@service_order.problem_code_2%></dd>
    <dt>cause_code</dt>
    <dd><%=@service_order.cause_code%></dd>
    <dt>repair_code</dt>
    <dd><%=@service_order.repair_code%></dd>
    <dt>related_so</dt>
    <dd><%=@service_order.related_so%></dd>
    <dt>parent_so</dt>
    <dd><%=@service_order.parent_so%></dd>
    <dt>c_call_avoid_dt</dt>
    <dd><%=@service_order.c_call_avoid_dt%></dd>
    <dt>c_call_avoid_tm</dt>
    <dd><%=@service_order.c_call_avoid_tm%></dd>
    <dt>tele_date</dt>
    <dd><%=@service_order.tele_date%></dd>
    <dt>tele_time</dt>
    <dd><%=@service_order.tele_time%></dd>
    <dt>dispatch_dt</dt>
    <dd><%=@service_order.dispatch_dt%></dd>
    <dt>dispatch_tm</dt>
    <dd><%=@service_order.dispatch_tm%></dd>
    <dt>arrive_date</dt>
    <dd><%=@service_order.arrive_date%></dd>
    <dt>arrive_time</dt>
    <dd><%=@service_order.arrive_time%></dd>
    <dt>complete_dt</dt>
    <dd><%=@service_order.complete_dt%></dd>
    <dt>complete_tm</dt>
    <dd><%=@service_order.complete_tm%></dd>
    <dt>close_date</dt>
    <dd><%=@service_order.close_date%></dd>
    <dt>close_time</dt>
    <dd><%=@service_order.close_time%></dd>
    <dt>escalate_dt</dt>
    <dd><%=@service_order.escalate_dt%></dd>
    <dt>escalate_tm</dt>
    <dd><%=@service_order.escalate_tm%></dd>
    <dt>escalate_lvl</dt>
    <dd><%=@service_order.escalate_lvl%></dd>
    <dt>est_time</dt>
    <dd><%=@service_order.est_time%></dd>
    <dt>actual_time</dt>
    <dd><%=@service_order.actual_time%></dd>
    <dt>travel_time</dt>
    <dd><%=@service_order.travel_time%></dd>
    <dt>bill_time</dt>
    <dd><%=@service_order.bill_time%></dd>
    <dt>per_call_min</dt>
    <dd><%=@service_order.per_call_min%></dd>
    <dt>per_call_max</dt>
    <dd><%=@service_order.per_call_max%></dd>
    <dt>time_zone</dt>
    <dd><%=@service_order.time_zone%></dd>
    <dt>billing_cap</dt>
    <dd><%=@service_order.billing_cap%></dd>
    <dt>notify_date</dt>
    <dd><%=@service_order.notify_date%></dd>
    <dt>notify_time</dt>
    <dd><%=@service_order.notify_time%></dd>
    <dt>tech_notify</dt>
    <dd><%=@service_order.tech_notify%></dd>
    <dt>eta_date</dt>
    <dd><%=@service_order.eta_date%></dd>
    <dt>eta_time</dt>
    <dd><%=@service_order.eta_time%></dd>
    <dt>call_phoned</dt>
    <dd><%=@service_order.call_phoned%></dd>
    <dt>response</dt>
    <dd><%=@service_order.response%></dd>
    <dt>cover_holiday</dt>
    <dd><%=@service_order.cover_holiday%></dd>
    <dt>start_time</dt>
    <dd><%=@service_order.start_time%></dd>
    <dt>end_time</dt>
    <dd><%=@service_order.end_time%></dd>
    <dt>cover_days1</dt>
    <dd><%=@service_order.cover_days1%></dd>
    <dt>cover_days2</dt>
    <dd><%=@service_order.cover_days2%></dd>
    <dt>cover_days3</dt>
    <dd><%=@service_order.cover_days3%></dd>
    <dt>cover_days4</dt>
    <dd><%=@service_order.cover_days4%></dd>
    <dt>cover_days5</dt>
    <dd><%=@service_order.cover_days5%></dd>
    <dt>cover_days6</dt>
    <dd><%=@service_order.cover_days6%></dd>
    <dt>cover_days7</dt>
    <dd><%=@service_order.cover_days7%></dd>
    <dt>prim_phone_ext_no</dt>
    <dd><%=@service_order.prim_phone_ext_no%></dd>
    <dt>fax_ext_no</dt>
    <dd><%=@service_order.fax_ext_no%></dd>
    <dt>pri_phon_area_cd</dt>
    <dd><%=@service_order.pri_phon_area_cd%></dd>
    <dt>supply_cst</dt>
    <dd><%=@service_order.supply_cst%></dd>
    <dt>supply_pcnt</dt>
    <dd><%=@service_order.supply_pcnt%></dd>
    <dt>memo_source</dt>
    <dd><%=@service_order.memo_source%></dd>
    <dt>memo_code</dt>
    <dd><%=@service_order.memo_code%></dd>
    <dt>Line Number:</dt>
    <dd><%=@service_order.line_no%></dd>
    <dt>Memo Type:</dt>
    <dd><%=@service_order.memo_type%></dd>
    <dt>Memo Text:</dt>
    <dd><%=@service_order.memo_text%></dd>
    <dt>memo_dt_last_mode</dt>
    <dd><%=@service_order.memo_dt_last_mode%></dd>
    <dt>memo_tm_last_mode</dt>
    <dd><%=@service_order.memo_tm_last_mode%></dd>
    <dt>memo_user_last_mode</dt>
    <dd><%=@service_order.memo_user_last_mode%></dd>
  </dl>
<% end %>
