<h1>Service Order Lookup</h1>
<%= form_tag root_url, method: :get do %>
<p>
  <%= text_field_tag :service_order, params[:service_order] %>
  <%= submit_tag "Lookup", name: nil %>
</p>
<% end %>
<% if @service_order %>
  <dl id ="service_order_info">
    <dt>Service Number:</dt>
    <dd><%= @service_order.service_no %></dd>
    <dt>Item Number:</dt>
    <dd><%= @service_order.item_no %></dd>
    <dt>Serial Number:</dt>
    <dd><%= @service_order.serial_no %></dd>
    <dt>Service Type:</dt>
    <dd><%= @service_order.service_type %>
    <dt>Status:</dt>
    <dd><%= @service_order.so_status %></dd>
    <dt>Company Name:</dt>
    <dd><%= @service_order.name %></dd>
    <dt>Charge Customer:</dt>
    <dd><%= @service_order.charge_cust %></dd>
    <dt>Primary Contact:</dt>
    <dd><%=@service_order.primary_con%></dt>
    <dt>Primary Phone Number:</dt>
    <dd><%=@service_order.primary_phon%></dd>
    <dt>Fax:</dt>
    <dd><%=@service_order.fax_modem%></dd>
    <dt>Customer PO:</dt>
    <dd><%=@service_order.cust_po%></dd>
    <dt>Customer Release:</dt>
    <dd><%=@service_order.cust_release%></dd>
    <dt>Customer Reference</dt>
    <dd><%=@service_order.cust_ref%></dd>
    <dt>Address 1:</dt>
    <dd><%=@service_order.address1%></dd>
    <dt>Address 2:</dt>
    <dd><%=@service_order.address2%></dd>
    <dt>City:</dt>
    <dd><%=@service_order.city%></dd>
    <dt>Street:</dt>
    <dd><%=@service_order.st%></dd>
    <dt>Country:</dt>
    <dd><%=@service_order.country%></dd>
    <dt>Postal Code:</dt>
    <dd><%=@service_order.zip%></dd>
    <dt>Description</dt>
    <dd><%=@service_order.description1%></dd>
    <dt></dt>
    <dd><%=@service_order.description2%></dd>
    <dt>Location</dt>
    <dd><%=@service_order.location1%></dd>
    <dt></dt>
    <dd><%=@service_order.location2%></dd>
    <dt></dt>
    <dd><%=@service_order.location3%></dd>
    <dt></dt>
    <dd><%=@service_order.location4%></dd>
    <dt>Territory Code:</dt>
    <dd><%=@service_order.terr_code%></dd>
    <dt>Entity Code:</dt>
    <dd><%=@service_order.entity_code%></dd>
    <dt>Via Description:</dt>
    <dd><%=@service_order.via_desc%></dd>
    <dt>Department:</dt>
    <dd><%=@service_order.department%></dd>
    <dt>Warehouse Code:</dt>
    <dd><%=@service_order.whs_code%></dd>
    <dt>Contract Number:</dt>
    <dd><%=@service_order.contract_no%></dd>
    <dt>Contract Line:</dt>
    <dd><%=@service_order.contract_lin%></dd>
    <dt>Priority</dt>
    <dd><%=@service_order.priority%></dd>
    <dt>Entry Date</dt>
    <dd><%=@service_order.entry_date%></dd>
    <dt>Entry Time</dt>
    <dd><%=@service_order.entry_time%></dd>
  </dl>
<% end %>
